---
import { GraduationCap } from '@lucide/astro';
---

<div
  class="bg-white border-slate-200 border p-6 rounded-lg shadow-xl print:shadow-none print:border-slate-300"
>
  <h2
    class="text-purple-700 border-slate-100 font-black tracking-widest text-xs uppercase mb-6 border-b pb-2 flex items-center gap-2"
  >
    <GraduationCap size={14} />
    Formação Acadêmica
  </h2>

  <div class="divide-y divide-slate-100">
    <div class="border-slate-100 border-b py-4 last:border-0 group print:py-4">
      <div class="flex justify-between items-center mb-1">
        <h3 class="text-slate-900 font-bold text-sm sm:text-base">
          Bacharelado em Ciência da Computação
        </h3>
        <span class="text-xxs sm:text-xs text-slate-500 font-mono italic whitespace-nowrap ml-4">
          2016 — 2019
        </span>
      </div>

      <p class="text-purple-600 text-xxs sm:text-xs uppercase tracking-wider font-bold mb-3">
        Centro Universitário Fiadélfia (UNIFIL)
      </p>

      <ul class="space-y-1 mb-4 text-xs">
        <li class="text-slate-600 flex gap-2 leading-tight">
          <span class="text-purple-600">✧</span>
          Fundamentos de computação, lógica, algoritmos, estruturas de dados e orientação a objetos.
        </li>
        <li class="text-slate-600 flex gap-2 leading-tight">
          <span class="text-purple-600">✧</span>
          Contato com desenvolvimento web, bancos de dados e arquitetura de sistemas.
        </li>
        <li class="text-slate-600 flex gap-2 leading-tight">
          <span class="text-purple-600">✧</span>
           Base sólida para análise, modelagem e tomada de decisões técnicas em sistemas de software.
        </li>
      </ul>

      <div class="flex flex-wrap gap-2 text-purple-700 text-xxs">        
        <span
          class="bg-purple-50 border-purple-100 px-2 py-1 border rounded uppercase font-bold print:bg-slate-50 print:text-slate-700  print:border-slate-200 text-[9px] tracking-wider"
        >
          Lógica
        </span>
        <span
          class="bg-purple-50 border-purple-100 px-2 py-1 border rounded uppercase font-bold print:bg-slate-50 print:text-slate-700  print:border-slate-200 text-[9px] tracking-wider"
        >
          Estrutura de dados
        </span>
        <span
          class="bg-purple-50 border-purple-100 px-2 py-1 border rounded uppercase font-bold print:bg-slate-50 print:text-slate-700 print:border-slate-200 text-[9px] tracking-wider"
        >
          Banco de dados
        </span>
        <span
          class="bg-purple-50 border-purple-100 px-2 py-1 border rounded uppercase font-bold print:bg-slate-50 print:text-slate-700 print:border-slate-200 text-[9px] tracking-wider"
        >
          Orientação a objetos
        </span>
      </div>
    </div>
  </div>
</div>

